*{box-sizing:border-box}

form{
    width: 375px;
    padding: 8px;
    margin: auto;
    background-color: palevioletred;
}

form label{
    width: 20px;
    font-weight: normal;
    color: darkblue;
}

form input{
    width: 350px;
    border: 1px solid black;
    background-color:goldenrod ;
    margin: 5px 5px;
}

form button{
    font-weight: normal;
    color:darkblue;
    background-color:goldenrod ;
}