.listaUsuarios{
margin:auto;
background-color: white;
}

.gustosusuarios{
margin: auto;
background-color: bisque;
border: 2px dashed red;
}

.gustosusuarios p{
    font-size: medium;
    font-style: normal;
    font-weight: bold;
    color: darkslateblue;
    background-color: bisque;
}